table {
    border-collapse: collapse;
    margin: auto;
}
td{
    width: 30px;
    height: 30px;
}


.player-head, .tail-unit{
    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin: auto;
}

.player-head{
    background-color: brown;
}

.tail-unit{
    background-color: dimgrey;
}

.cookie{
    background-color: darkorange;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    margin: auto;
}