table {
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
}
td{
    width: 30px;
    height: 30px;
}


.player-head{
    background-color: darkblue;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: auto;
}

.cookie{
    background-color: darkorange;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin: auto;
}